.inputs-container {
    margin: 10px auto;
}

.show-content {
    background: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 10px;
    width: 91%;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    height: 200px;
    overflow-y: scroll;
}

.bold-light{
    font-weight: 700;
    color: #1890ff;
}

.show-content::-webkit-scrollbar {
    display: none;
}

.btn-update {
    background: #1890ff;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    width: 91%;
    margin: 0 auto;
    padding: 10px 10px;
    margin-top: 10px;
}