.inputs-container {
    margin: 20px auto;
}

.main-input {
    height: 20px;
    background: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding: 10px;
    width: 91%;
    font-size: 14px;
    width: 91%;
    font-size: 14px;
}
.goto{
    background: #1890ff;
    color: #fff;
    height: 42px;
    width: 60px;
    transform: translateY(-2px);
    border-radius: 5px;
    font-size: 14px;
    border: 0px;
    cursor: pointer;
}