.table-container {}

th,
td {
    border: 1px solid #bdbdbb;
}

.params-table {
    border-collapse: collapse;
    width: 93%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.key-input,
.val-input {
    width: 98%;
    height: 100%;
    padding: 5px;
    padding-right: 0;
    border: 0;
}

.check-td {
    width: 15px;
    padding: 5px;
}

.title-line>th {
    padding: 5px;
}

.key-td {
    width: 20%;
    padding: 5px;
}

.val-td {}