.table-container {}

th,
td {
    border: 1px solid #bdbdbb;
}

.params-table {
    border-collapse: collapse;
    width: 93%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.key-input,
.val-input {
    width: 98%;
    height: 100%;
    padding: 5px;
    padding-right: 0;
    border: 0;
}

.check-td {
    width: 30px;
    padding: 5px;
    padding-right: 2px;
}

.param-line:hover .move-img {
    visibility: visible;
}

.title-line>th {
    padding: 5px;
}

.key-td {
    width: 20%;
    padding: 5px;
}

.move-img {
    width: 10px;
    visibility: hidden;
    cursor: ns-resize;
}

.show {
    visibility: visible;
}

.val-td {}